
.about-container {
    position: absolute;
    text-align: center;
    
}

.about-h3 {
    font-size: 18px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;

}

.quotation {
    font-size: 25px;
    color: gray;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;

}

.title-def {
    font-size: 18px;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
   
}

.box-wrapper {
    display: flex;
    flex-direction: row;
}

.about-box{
  width: 33%;
  padding: 20px;
  border: 3px solid gray;
  margin: 10px;
}

.logos {
    width: 70px;
    height: 70px;
}
