.grid {
  display: grid;
  width: 100%;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 0 auto;
  padding: 30px 0;
}

.card {
  background-color: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.015);
  }

  &-image {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  &-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-title {
    margin: 0;
  }

  &-body {
    flex: 1;
  }

  &-footer {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #666;
    font-weight: 600;
  }
}

.tag {
  background-color: #dfdfdf;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
}
