.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 580px;
}

.form-icon {
  color: #b4b4b4;
}

.form-navArrows-container {
  display: flex;
  justify-content: space-between;
}

// Login
.login-input {
  margin-bottom: 20px;
}

// status form
.status-container {
  display: flex;
  justify-content: space-around;

  img {
    width: 220px;
  }
}

.status-wrapper {
  position: relative;
  cursor: pointer;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    font-size: 18px;
  }
}

// profile form
.profile-container {
  padding: 20px;
  background-color: #c4c4c4;
  border-radius: 10px;
  width: 190px;
  height: 190px;
  margin: 30px auto;
}

.file-path {
  display: none;
}
