.form-container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}

form {
  width: 100%;
  max-width: 580px;
}

.errorMessage {
  color: #cc3636;
}

.form-icon {
  color: #b4b4b4;
}

.form-navArrows-container {
  padding: 20px 0;
  position: relative;
}

.input-field .helper-text {
  display: none;
}

.locationSelect {
  color: grey;
}

// Login
.login-input {
  margin-bottom: 20px;
}

.loginFormPage-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.loginFormPage-form {
  max-width: 400px;
  border: 1px solid #d8d8d8;
  padding: 1.5rem;
}

// status form
.status-container {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.status-wrapper {
  position: relative;
  cursor: pointer;
  background-color: #f0f0e7;
  border-radius: 10px;
  width: 170px;
  height: 170px;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    font-size: 15px;
  }

  .status-text {
    border-top: 1px solid grey;
    display: block;
  }

  &:focus {
    border-radius: 10px;
    background-color: #cacaca;
    outline: none;
  }
}

// profile form
.profile-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #c4c4c4;
  border-radius: 10px;
  position: relative;

  background: linear-gradient(
      rgba(153, 153, 153, 0.5),
      rgba(141, 141, 141, 0.5)
    ),
    url('../../public/meet-kiwi.jpg');
  background-size: cover;
  background-position: center;
}

.border {
  border: 1px solid #d8d8d8;
  padding: 8px;
  margin: 30px auto;
  width: 220px;
  height: 220px;
}

.file-path {
  display: none;
}
