$bodyFont: Arial, Helvetica, sans-serif;
$featureFont: 'Merriweather', Arial, Helvetica, sans-serif;

body {
  font-family: $bodyFont;
}

h2 {
  font-family: $featureFont;
  font-size: 28px;
  margin-bottom: 0;
  color: #252525;
}

h3 {
  font-family: $featureFont;
  font-size: 22px;
}

h4 {
  font-family: $featureFont;
  font-size: 20px;
}

h5 {
  font-family: $featureFont;
  font-size: 18px;
}

.mt-0 {
  margin-top: 0;
}

.pb-2 {
  padding-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

.z-10 {
  z-index: 10;
}

.display-b {
  display: block;
}

.b-font {
  font-family: $bodyFont;
}

.fs-14 {
  font-size: 14px;
}

.page-header {
  max-width: 800px;
  width: 100%;
}

.section {
  padding: 2.5rem 0;
}

.c-grey {
  color: #929292;
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 0;
}

footer {
  padding-bottom: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2)
      format('woff2'),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff)
      format('woff'),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf)
      format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
